<%# locals: (player:) -%>

<h3>You have been eliminated</h3>

<p>You were a <%= Player::ROLES[player.role]  %></p>

<%= render "round_history_content", game: player.game, current_round: player.game.round.last %>