<h2>Available games</h2>

<%= link_to "New game", new_game_path %>

<div id="avail_games">
  <% @avail_games.each do |game| %>
    <div>
      <%= link_to game.name, game %>

      <%= link_to "Join game", new_player_path(:game_id => game.id) %>
    </div>
  <% end %>
</div>

<hr/>
<h2>My games</h2>
<div id="my_games">
  <% @my_games.each do |game| %>
    <div>
      <%= link_to game.name, game %>
    </div>
  <% end %>
</div>
