body {
  font-family: "Arial", sans-serif;
  background-color: #2a2a2a;
  color: #ffffff
}

a {
  color: greenyellow;
  &:visited {
    color: green;
  }
}

.header-bar {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.player-name {
  font-weight: bold;
  color: aqua;
}

.interactive-unordered-list {
  line-height: 200%
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 100%;
  background-color: #555555;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #393939
}

.game-area {
  align-self: center;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.game-header {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #2f2f2f;
}

.game-main {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #2f2f2f;
  padding-bottom: 30px;
}